.Heading {
    background-color: rgb(92, 4, 4);
    text-align: center;
    font-family: papyrus;
    color: wheat;
    font-size: 70px;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.centerText{
    text-align: center;
}
#firstTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* background-color: burlywood; */
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/012/392/272/small_2x/hand-drawn-sweet-dessert-seamless-background-free-vector.jpg");

}

.bottomRight {
        position:fixed;
        right:10px;
        bottom: 10px 
}

h1 {
    font-size: medium;
}

.dishName {
    font-weight: bolder;
    font-family: papyrus;
    font-size: 45px;
    color: wheat;
    text-decoration: none;
    
}

.dishBox {
    outline: 7px solid rgb(18, 16, 13);
    margin: 50px;
    background-color: rgb(92, 4, 4);
}

.dishDetails {
    font-weight: bold;
    font-family: papyrus;
    font-size: 30px;
    color: wheat;
    
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    width: 350px;
    border: 5px solid wheat;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 500px;
}

.btn:hover {
    background-color: black;
}